.slash-menu-box {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-lg);
  border: 1px solid var(--mantine-color-slate-light);
  background-color: var(--mantine-color-white);

  .slash-menu-item {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    display: block;
    width: 100%;

    &:hover {
      background: var(--mantine-color-slate-light);
      color: var(--mantine-color-slate-light-color);
    }
  }
}
